.container {
  display: flex;
  height: 100%;
  margin: 20px auto;
  max-width: 1300px;

  :before {
    content: '';
    display: table;
  }

  > div {
    box-sizing: border-box;
  }
}

.controls {
  width: 300px;
  padding: 10px 50px;
}

.visualization {
  flex: 1;
  height: 100%;
  padding: 1px;

  > div {
    height: 100%;
  }
}
