$input-background-color: #fff;
$input-border-color: #ccc;
$input-outline-color: #4285f4;
$input-disabled-background-color: #eee;
$tensor-border-color: #555;

$input-width: 80px;

.vector {
  > div {
    display: inline-block;
  }
}

.tensor {
  width: $input-width * 3;
  padding: 8px;
  border: 2px solid $tensor-border-color;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 10px/40px;
}

.scalar {
  input {
    box-sizing: border-box;
    height: 26px;
    width: $input-width - 4px;
    margin: 1px 2px;
    padding: 2px 5px;
    font-size: 15px;
    line-height: 20px;
    vertical-align: middle;
    border-radius: 2px;
    background: $input-background-color;
    border: 1px solid $input-border-color;
    box-shadow: inset 0 1px 1px;

    &:focus {
      box-shadow: 0 0 3pt 2pt $input-outline-color;
    }

    &[disabled] {
      background: $input-disabled-background-color;
    }
  }
}
